{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container py-4" style="max-width: 760px;">

    <h1 class="fs-2 text-center mb-4">IDSS</h1>

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
            Apartment information
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
          <div class="accordion-body">
            {% include "form_fields.html" %}
          </div>
        </div>
      </div>
    </div>

    {% if prediction_made %}
      <p class="fs-4 my-3">Property analysis:</p>
      <ul class="list-group">
        <li class="list-group-item">Suggested price: €{{ price_prediction }}</li>
        <li class="list-group-item">Actual price: €{{ actual_price }}</li>
        <li class="list-group-item">Difference: €{{ price_difference }}</li>
        <li class="list-group-item">Rent prediction (per night): €{{ rent_prediction }}</li>
        <li class="list-group-item">Weighted average capital cost: {{ wacc_prediction }}</li>
      </ul>
      {% if gpt3_output %}
        <p class="my-3">Suggested summary: "{{ gpt3_output }}"</p>
      {% endif %}
    {% endif %}

  </div>
{% endblock %}
