{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container py-4" style="max-width: 760px;">

    <h1 class="fs-2 text-center mb-4">IDSS</h1>

    <p class="fs-4 mb-3">Apartment information</p>

    <form action="/" method="get">
      {% csrf_token %}
      {{ apartment_info_form.non_field_errors }}
      {% for field in apartment_info_form %}
        <div class="mb-3">
          {{ field.errors }}
          <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
          {{ field }}
          {% if field.help_text %}
            <div class="form-text">{{ field.help_text|safe }}</div>
          {% endif %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>
{% endblock %}
