{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container py-4" style="max-width: 760px;">

    <h1 class="fs-3 text-center mb-4">Barcelona Property Investment Analysis</h1>

    {% if not prediction_made %}
      <div class="card shadow-sm my-4">
        <div class="card-body border-5 rounded border-start border-primary">
          <h5 class="card-title">Usage</h5>
          <p class="card-text">
            Add information about an apartment in Barcelona that you intend to buy and rent out as an
            investment. The property information will get analyzed and you will be provided with valuable
            information about the profitability of the investment.
          </p>
        </div>
      </div>
    {% endif %}

    {% if prediction_made %}
      {% include "analysis.html" %}
    {% endif %}

    <div class="accordion shadow-sm" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
            Apartment information
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
             data-bs-parent="#accordionExample">
          <div class="accordion-body">
            {% include "form_fields.html" %}
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
